<p>
  <b>Case:</b>
  <%=h @event.case_id %>
</p>

<p>
  <b>Creator:</b>
  <%=h @event.creator_id %>
</p>

<p>
  <b>Responsible:</b>
  <%=h @event.user_id %>
</p>

<p>
  <b>Summary:</b>
  <%=h @event.summary %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Status:</b>
  <%=h @event.status %>
</p>

<p>
  <b>Dtstart:</b>
  <%=h @event.dtstart %>
</p>

<p>
  <b>Dtend:</b>
  <%=h @event.dtend %>
</p>

<p>
  <b>Rrule:</b>
  <%=h @event.rrule %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Alarm:</b>
  <%=h @event.alarm %>
</p>

<p>
  <b>Calendar:</b>
  <%=h @event.calendar_id %>
</p>

<p>
  <b>Type:</b>
  <%=h @event.event_type %>
</p>

<p>
  <b>Busy:</b>
  <%=h @event.busy %>
</p>

<p>
  <b>Timezone:</b>
  <%=h @event.timezone %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
