<p>
  <b>User:</b>
  <%=h @event.user_id %>
</p>

<p>
  <b>Type:</b>
  <%=h @event.type %>
</p>

<p>
  <b>Summary:</b>
  <%=h @event.summary %>
</p>

<p>
  <b>Status:</b>
  <%=h @event.status %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Recur:</b>
  <%=h @event.recur %>
</p>

<p>
  <b>Timezone:</b>
  <%=h @event.timezone %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Start:</b>
  <%=h @event.start %>
</p>

<p>
  <b>End:</b>
  <%=h @event.end %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
